* {
	font-family: "Comfortaa", sans-serif;
}

html {
	height: 100%;
}

body {
	background-color: black;
	color: white;
	text-align: center;
}

h1 {
	background-image: linear-gradient(to right, rgba(0,150,50,0), rgba(0,150,50,1), rgba(0,150,50,0));
	font-size: 65pt;
	margin: 30px 0 0 0;
	padding-top: 15px;
	width: 100%;
}

.intro {
	color: rgb(0,120,70);
	letter-spacing: 0.2em;
}

#DISPLAY {
	border: 7px outset #222;
	box-sizing: border-box;
	color: yellow;
	font-size: 50pt;
	height: 100px;
	margin: 0 auto;
	max-width: 30%;
	min-width: 300px;
	padding-right: 10px;
	padding-top: 10px;
	text-align: right;
}

#BUTCONTAINER {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	margin: 0 auto;
	max-width: 30%;
	min-width: 300px;
}

button {
	background-color: #111;
	color: #555;
	border: 7px outset #222;
	font-size: 3rem;
	height: 60px;
	margin: 0;
}

.butNum:hover {
	color: #999;
}

.operator, #CANCEL, #EQUALS, #DOT {
	background-color: #011000;
	border: 7px outset #011000;
	color: green;
	font-size: 3rem;
}

.operator:hover, #CANCEL:hover, #EQUALS:hover {
	color: seagreen;
}

#EQUALS {
	grid-column-start: 5;
	grid-row-start: 1;
	grid-row-end: span 4;
	height: 100%;
	font-size: 6rem;
}